<title>LMS | Statistic Dashboard</title>
<app-loader></app-loader>
<div class="container">
    <div class="row"></div>
  <div class="row title">
    <div class="col-md-6">Category <i class="fas fa-info-circle" title="Category distribution based on book"></i></div>
    <div class="col-md-6">Status <i class="fas fa-info-circle" title="Books status with quantity"></i></div>
  </div>
  <div class="row">
    <div class="col-md-6"><canvas id="canvas1">{{ chart }}</canvas></div>
    <div class="col-md-6"><canvas id="canvas2">{{ chart }}</canvas></div>
  </div>
  <!-- month based data chart -->
  <!-- <div class="row">
    <div class="col-md-12">Data Based on Month <i class="fas fa-info-circle" title="Category distribution based on book"></i></div>
  </div>
  <div class="row">
    <div class="col-md-12"><canvas id="canvas3">{{ chart }}</canvas></div>
  </div> -->
</div>